html{
    background-color:rgb(53,53,53);
}
html{
    color: whitesmoke;
}
header {
    font-family: 'Tangerine', cursive;
    font-size: 72px;
    text-align: center;
}
h3 {
    font-family: 'Unica One', cursive;
    font-size: 26px;
    text-align: center;
}
.top img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 540px;
}

.watch_container{
    border-radius: 13px;
    background-color: #1A1818;
    border-width: 2px;
    border-style: solid;
    border-color: #FDEFA6;
}
.text h2{
    font-family: 'Dosis', sans-serif;
}
.text P {
    font-family: 'Dosis', sans-serif;
}
.watch_container img:Classic Watch{
    
}